body {
    margin: 0;
    padding: 0;
    background: #f5f5f5;
  }
  
  header, .header {
    background: #7a98a9;
    color: #ffffff;
    padding: 9px;
  }
  
  nav, .nav {
    background: #fff;
    color: #000000;
    padding: 9px;
  }
  
  main, .main {
    float: left;
    width: 70%;
    background: #53b1da;
    padding: 9px;
    box-sizing: border-box;
  }
  
  section, .section {
    background: #39d1b4;
    color: #ffffff;
    padding: 9px;
    margin-bottom: 9px;
  }
  
  article, .article {
    background: #fff;
    color: #000000;
    padding: 9px;
  }

  aside, .aside {
    float: right;
    width: 30%;
    padding: 9px;
    box-sizing: border-box;
  }
  
  footer, .footer {
    background: #1b3547;
    color: #ffffff;
    padding: 9px;
  }
  
  .container {
    overflow: hidden;
  }
  
  .container::after {
    content: "";
    clear: both;
    display: block;
  }

  button {
    height: 25px;
    width: 25px;
  }